* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "merri-reg";
  src: url(../lib/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "merri-ita";
  src: url(../lib/Merriweather/Merriweather-Italic.ttf);
}
@font-face {
  font-family: "merri-light";
  src: url(../lib/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: "merri-bold";
  src: url(../lib/Merriweather/Merriweather-Bold.ttf);
}
nav {
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
nav h1 {
  font-size: 40px;
}
nav .links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav .links ul {
  list-style-type: none;
}
nav .links ul a {
  display: block;
  padding: 0px 10px;
  font-family: merri-reg;
}
nav a {
  text-decoration: none;
  color: #fff;
}

footer {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.home {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.home h1 {
  font-family: merri-reg;
  font-size: 45px;
}
.home .popular {
  margin-top: 55px;
}
.home .popular h1 {
  font-size: 30px;
}
.home .popular .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home .popular .container .box {
  width: 500px;
  height: 300px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.479);
}
.home .popular .container .box .boxOne {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../images/pep-pizza.jpg);
}
.home .popular .container .box .boxTwo {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../images/meat-pizza.jpg);
}
.home .popular .container .box .boxThree {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../images/three-pizza.jpg);
}
.home .popular .container .box .boxFour {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../images/wings.jpg);
}
.home .popular .container .box h2 {
  padding: 10px 10px 0px 10px;
  font-family: merri-reg;
  font-size: 20px;
}
.home .popular .container .box .desc {
  padding: 0px 10px 0px 10px;
}

.products {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.products h1 {
  font-family: merri-reg;
  font-size: 45px;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
}
.products .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.products .container .box {
  width: 500px;
  height: 300px;
  margin: 10px 10px 50px 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.479);
}
.products .container .box .boxOne {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../images/pep-pizza.jpg);
}
.products .container .box .boxTwo {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../images/meat-pizza.jpg);
}
.products .container .box .boxThree {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../images/three-pizza.jpg);
}
.products .container .box .boxFour {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../images/wings.jpg);
}
.products .container .box h2 {
  padding: 10px 10px 0px 10px;
  font-family: merri-reg;
  font-size: 20px;
}
.products .container .box .desc {
  padding: 0px 10px 0px 10px;
}

.about {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1 {
  font-family: merri-reg;
}
.about p {
  width: 90%;
  margin: 50px 0px;
}
.about .about-picOne {
  height: 300px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/makin-pizza.jpg);
}
.about .about-picTwo {
  height: 300px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/pep-pizza.jpg);
}
.about .about-picThree {
  height: 300px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/guy-pizza.jpg);
}

.contact {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.contact h1 {
  font-family: merri-reg;
  font-size: 45px;
  padding-bottom: 20px;
}
.contact p {
  width: 90%;
}
.contact .order-today {
  font-family: merri-bold;
  font-weight: bold;
  font-size: 17px;
}
.contact .contact-info {
  font-family: merri-reg;
}
.contact .holder {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.contact .holder .contact-image {
  width: 500px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/pizza-guy-phone.jpg);
}
